CMakeFiles/**
.objs/**
mods/**
screenshots/**

data/images/**
data/music/**
data/sounds/**

!data/images/.gitkeep
!data/music/.gitkeep
!data/sounds/.gitkeep

development/android/assets/**
development/android/bin/**
development/android/gen/**
development/android/libs/**
development/android/obj/**
development/android/jni/include/SDL2/**
development/android/jni/include/SDL2_image/**
development/android/jni/include/SDL2_mixer/**
development/android/jni/include/RakNet/**
development/android/jni/include/boost/**
development/android/jni/include/cheese-engine/**
development/android/jni/armeabi-v7a/**
development/android/jni/arm64-v8a/**
development/android/jni/x86/**
development/android/jni/x86_64/**
development/android/local.properties

/*Windows-x86_64.exe
/*Windows-Debug-x86_64.exe
/*Linux-x86_64
/*Linux-Debug-x86_64
/*OSX-x86_64

/*options.cfg
/*game_commands.cfg

/*error_log.txt
/*servers.txt

/*_TEMPORARY
/*_BACKUP

docs/build-information

/*CMakeCache.txt
/*Makefile
/*cmake_install.cmake
/*compile_commands.json

/*log-Release-Android
/*log-Release-Release-Linux-x86_64
/*log-Release-Release-macOS-x86_64
/*log-Release-Release-Windows-x86_64

/*libsteam_api.so
/*steam_appid.txt

/*.dll
/*.ico
/*.depend
/*.cscope_file_list
/*.layout

*Thumbs.db
*.DS_Store
