Windows
OS: 10 or newer
Architecture: x86_64

Android
OS: 14 (API level 34) or newer
Architecture: arm64-v8a / x86_64

macOS
OS: 10.11 El Capitan or newer
Architecture: x86_64

Linux
Requires glibc 2.39 or newer
Architecture: x86_64

Minimum:
Processor: 2 GHz
Memory: 4 GB
Graphics: Video card made within the last 4 years (as of 2025). Integrated graphics may or may not work.
Sound: None required, although you will need a sound device for sound...
Storage: 50 MB HDD
Network: None required

Recommended:
Processor: 3 Ghz
Memory: 8 GB
Graphics: Video card made within the last 2 years (as of 2025). Integrated graphics may or may not work.
Sound: We recommend you have a sound device. So you can have sound.
Storage: 50 MB SSD
Network: None required

Input Support:
Keyboard
Keyboard and Mouse
Any controller that SDL2 supports. This includes, but is not limited to: Xbox 360, Xbox One, PS3, PS4, and Switch Pro controllers.
